<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.product.mapper.SpuSaleAttrMapper">
    <resultMap id="spuSaleAttrMap" type="com.atguigu.gmall.model.product.SpuSaleAttr" autoMapping="true">
        <id property="id" column="id"/>
        <collection property="spuSaleAttrValueList" ofType="com.atguigu.gmall.model.product.SpuSaleAttrValue"
                    autoMapping="true">
            <id property="id" column="spu_sale_attr_value_id"/>
        </collection>
    </resultMap>

    <select id="selectSpuSaleAttrBySpuId" resultMap="spuSaleAttrMap">
        SELECT ta.id,
               ta.spu_id,
               ta.sale_attr_name,
               ta.base_sale_attr_id,
               tb.id as spu_sale_attr_value_id,
               tb.sale_attr_value_name
        FROM spu_sale_attr ta
                 INNER JOIN spu_sale_attr_value tb ON ta.spu_id = tb.spu_id
            AND ta.base_sale_attr_id = tb.base_sale_attr_id
        WHERE ta.spu_id = #{spuId}
    </select>

    <select id="selectSpuSaleAttrBySpuIdBySkuId" resultMap="spuSaleAttrMap">
        SELECT tb1.id,
               tb1.spu_id,
               tb1.base_sale_attr_id,
               tb1.sale_attr_name,
               tb2.id AS                  spu_sale_attr_value_id,
               tb2.sale_attr_value_name,
               IF
                   (tb3.id IS NULL, 0, 1) isChecked
        FROM spu_sale_attr tb1
                 INNER JOIN spu_sale_attr_value tb2 ON tb1.spu_id = tb2.spu_id
            AND tb1.base_sale_attr_id = tb2.base_sale_attr_id
                 LEFT JOIN sku_sale_attr_value tb3 ON tb3.sale_attr_value_id = tb2.id
            AND tb3.spu_id = tb1.spu_id
            AND tb3.sku_id = #{skuId}
        WHERE tb1.spu_id = #{spuId}
    </select>
</mapper>